.App {
  text-align: center;
  word-break: keep-all;
}

/* menubar */
#top-navbar{
  margin: auto;
  background-color: #FFFFFF;
}

#right-nav-wrapper .navbar-nav{
  flex-direction: row-reverse;
}



/* content-wrapper 공통 */
.content-wrapper{
  position: relative;
  padding: 60px 300px;
}

.content_box{
  text-align: left;
  width: 100%;
}

.content-main-title{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px; 
}

.content-main-desc{
  margin-bottom: 20px; 
}


/* welcome-content-wrapper */
#welcome-content-wrapper{
  margin: 0px auto;
  padding-top: 100px;
  color: white;
  background-color: #666666;
  height: 520px;
}

#welcome-content-wrapper .content_box{
  margin-top: 60px;
}



/* best-portfolio-content-wrapper */
#best-portfolio-content-wrapper{
  margin: 0px auto;
  background-color: #ffffff;
  height: 620px;
}

#best-portfolio-content-wrapper .content-main-desc{
  margin-bottom: 50px;
}

#best-portfolio-content-wrapper .content-title-wrapper *{
  text-align: center;
}

#best-portfolio-content-wrapper .main-content-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#best-portfolio-content-wrapper .portfolio-wrapper{
  width: 340px;
  height: 350px;

  display: flex;
  flex-direction: column;
}

#best-portfolio-content-wrapper .portfolio-image{
  height: 240px;

  background-color: green;
}

#best-portfolio-content-wrapper .portfolio-detail{
  height: 110px;
}

#best-portfolio-content-wrapper .portfolio-title{
  height: 25px;

  background-color: black;
}

#best-portfolio-content-wrapper .portfolio-desc{
  height: 30px;

  background-color: green;
}

#best-portfolio-content-wrapper .portfolio-icon{
  height: 25px;

  background-color: black;
}


/* scheduled-project-content-wrapper */
#scheduled-project-content-wrapper{
  margin: 0px auto;
  background-color: #666666;
  height: 830px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#scheduled-project-content-wrapper .content_image,
#scheduled-project-content-wrapper .content_box{
  width: 520px;
  height: 710px;
  background-color: white;
}



/* recent-study-content-wrapper */
#recent-study-content-wrapper {
  margin: 0px auto;
  background-color: #ffffff;
  height: 540px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#recent-study-content-wrapper .content_image,
#recent-study-content-wrapper .content_box{
  width: 520px;
  height: 420px;
  background-color: #666666;
}


/* user-review-content-wrapper */
#user-review-content-wrapper{
  margin: 0px auto;
  background-color: #666666;
  height: 320px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#user-review-content-wrapper .content_image,
#user-review-content-wrapper .content_box{
  width: 520px;
  height: 200px;
  background-color: #ffffff;
}